body {
  background: black;
  color: #ddd;
}
main {
  position: relative;
}
header {
  //   background: #222;
  height: 0vh;
}

section {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;

  .container {
    padding: 2rem;
    // background: rgba(0, 0, 0, 0.1);
    // border-radius: 15px;
    width: 85%;
    max-width: 800px;
    font-size: 3rem;
    text-align: center;

    h2 {
      font-family: "Roboto Slab", serif;
    }
    p {
      font-family: "Roboto Slab", serif;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}

// Mars
.section-3 {
  // background: rgba(196, 33, 183, 0.3);
  min-height: 200vh;
}

// Moon
.section-2 {
  // background: rgba(159, 68, 68, 0.3);
  min-height: 200vh;
}

// Earth zoom
.section-1 {
  // background: rgba(255, 162, 0, 0.3);
  min-height: 120vh;
}
.section-0 {
  min-height: 100vh;
  opacity: 0;
}
