#product-description-view {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  transition: visibility 1s, opacity 0.5s;

  .product-description-wrapper {
    position: relative;
    height: 73vh;
    margin-top: 40vh;
    padding-bottom: 15vh;

    @media only screen and (max-width: 600px) {
      margin-top: 33vh;
    }

    .container {
      margin: 0 auto;
      background: #364b93;
      overflow: hidden;
      color: #ddd;
      width: 90%;
      max-width: 800px;
      height: 100%;
      border-radius: 10px;
      max-height: 600px;
      -webkit-box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.2);

      @media only screen and (max-width: 600px) {
        height: 85%;
      }

      .row {
        padding: 2rem;
        padding-right: 1.7rem;
        height: 100%;

        .close-btn {
          cursor: pointer;
          text-align: right;
          font-size: 1.5rem;
          font-weight: 600;
          color: #364b93;
          margin-left: auto;
          margin-top: -1.4rem;
          margin-right: -1.1rem;
          background: #eee;
          border-radius: 50%;
          width: 43px;
          height: 43px;
          transform: scale(1);
          padding-right: 12px;
          padding-top: 8px;
          margin-bottom: 1rem;
          transition: 0.3s all cubic-bezier(0.1, 0.73, 0.31, 1.51);

          @media only screen and (max-width: 600px) {
            width: 35px;
            height: 35px;
            margin-top: -1.4rem;
            margin-right: -1.1rem;
            font-size: 1.1rem;
            padding-right: 10px;
            padding-top: 7px;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
        .scrollable {
          overflow-y: auto;
          padding-right: 1rem;
          height: 92%;
          scrollbar-color: white transparent;

          .description-text {
            display: none;

            .title {
              font-weight: 300;
              font-size: 2.4rem;
              color: white;
              width: 80%;

              @media only screen and (max-width: 600px) {
                font-size: 1.8rem;
                width: 100%;
              }
            }
            .description {
              font-size: 1.125rem;
              margin: 2rem 0;
              line-height: 1.3em;

              @media only screen and (max-width: 600px) {
                font-size: 1.025rem;
                margin: 1rem 0;
              }
              p:not(:last-child) {
                margin-bottom: 1.5rem;
                @media only screen and (max-width: 600px) {
                  margin-bottom: 1.2rem;
                }
              }
            }
            &.show {
              display: block;
            }
          }
        }
      }
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
